06.LB05/Example03/library.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/library"
           xmlns="http://example.com/library"
           elementFormDefault="qualified">

    <!-- Root Element -->
    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libraryName" type="xs:string"/>

                <!-- Books -->
                <xs:element name="books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="author" type="xs:string"/>
                                        <xs:element name="price" type="xs:decimal"/>
                                        <xs:element name="publishedYear" type="xs:integer"/>
                                    </xs:sequence>

                                    <!-- Attribute -->
                                    <xs:attribute name="isbn" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
