01.Lab Work/10.Day 10(2026.01.05)/ca 2/CA 02-prac/Labsheet 5 (XSD)/student.xsd

<?xml version="1.0" ?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/bookstore"
            xmlns="http://example.com/bookstore"
            elementFormDefault="qualified">

            <xs:element name="bookstore" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="book" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="title" type="xs:string"/>
                                    <xs:element name="author" type="xs:string"/>
                                    <xs:element name="price" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                    <xs:minInclusive value="0"/>
                                                    
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="discount" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="category" type="xs:string" use="required"/>
                                <xs:attribute name="language" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

</xs:schema>