01.Lab Work/10.Day 10(2026.01.05)/SEU_IS_20_ICT_084_Ass02/Q03/LibraryService.wsdl

<definitions name="LibraryService"
    targetNamespace="http://example.com/wsdl/LibraryService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/wsdl/LibraryService"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="AddBookRequest">
        <part name="bookId" type="xsd:int"/>
        <part name="title" type="xsd:string"/>
        <part name="author" type="xsd:string"/>
    </message>

    <message name="GetBookDetailsRequest">
        <part name="bookId" type="xsd:int"/>
    </message>

    <message name="GetBookDetailsResponse">
        <part name="title" type="xsd:string"/>
        <part name="author" type="xsd:string"/>
        <part name="availability" type="xsd:boolen"/>
    </message>

    <portType name="LibraryPortType">
        <operation name="addBook">
            <input message="tns:AddBookRequest"/>
        </operation>

        <operation name="getBookDetails">
            <input message="tns:GetBookDetailsRequest"/>
            <output message="tns:GetBookDetailsResponse"/>
        </operation>
    </portType>

    <binding name="LibraryBinding" type="tns:LibraryPortType">
        <soap:binding style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
    </binding>

    <service name="LibraryService">
        <port name="LibraryPort" binding="tns:LibraryBinding">
            <soap:address location="http://localhost:8080/LibraryService"/>
        </port>
    </service>

</definitions>
