05.LB05/Example04/employees.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/employee"
           xmlns="http://example.com/employee"
           elementFormDefault="qualified">

    <!-- Root Element -->
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="companyName" type="xs:string"/>

                <!-- Employee -->
                <xs:element name="employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="empId" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="department" type="xs:string"/>
                            <xs:element name="salary" type="xs:decimal"/>
                            <xs:element name="joiningDate" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
